/Tutorial/Tutorial.Api/bin
/Tutorial/Tutorial.Api/obj
/Tutorial/Tutorial.Business/bin
/Tutorial/Tutorial.Business/obj
/Tutorial/Tutorial.Data/bin
/Tutorial/Tutorial.Data/obj
/Tutorial/Tutorial.Global/bin
/Tutorial/Tutorial.Global/obj
/Tutorial/Tutorial.Logger/bin
/Tutorial/Tutorial.Logger/obj
/Tutorial/Tutorial.Security/bin
/Tutorial/Tutorial.Security/obj
/Tutorial/Tutorial.IOC/bin
/Tutorial/Tutorial.IOC/obj
/Tutorial/Tutorial.Web/node_modules
/Tutorial/Tutorial.Web/dist
/Tutorial/Tutorial.Web/.angular
/Tutorial/Tutorial.Web/.vscode
/Tutorial/.vs