<footer role="contentinfo" class="o-footer navbar-dark bg-dark fixed-bottom">
    <div class="o-footer-bottom">
        <div class="container">
            <div class="row mb-0">
                <!-- Info sur la gauche -->
                <ul class="nav mr-auto">
                    <!-- Custom HTML footer -->
                    <li class="nav-item">
                        <span class="mt-2 small nav-link" trspan="version">V 3.0.0</span>
                    </li>
                    <li class="nav-item">
                        <span class="mt-2 small nav-link">© Orange 2021</span>
                    </li>
                </ul>
                <!-- info a droite - Langue du site -->
                <ul class="nav">
                    <li class="mt-2 small nav-item nav-link text-right">
                        <span id="languages">en-US</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>