<header role="banner" class="navbar navbar-dark bg-dark navbar-expand-md fixed-top" id="docs-navbar">
    <nav role="navigation" id="mainNav" class="container-fluid" aria-label="Main navigation">
        <a class="navbar-brand" href="./Welcome">
            <img src="assets/img/orange_logo.svg" class="d-inline-block align-bottom mr-3" alt="Orange Back to homepage" title="Orange Back to homepage" width="50" height="50" loading="lazy">
            <H1>SPOT</H1>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#orange-navbar-collapse" aria-controls="orange-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse justify-content-between collapse" id="orange-navbar-collapse">
        </div>
    </nav>
</header>