<app-header></app-header>
<main class="bd-masthead" role="main">
    <div class="row col-12 col-md-12">
        <div style="height: 50px;"></div>
        <div class="col-md-6 col-lg-6" style="margin-top: 100px;">
            <div style="align-self: center;">
                <h2 class="display-1">Welcome to <br>SPOT MANAGEMENT</h2>
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="assets/img/brand_orange/iot_manage.png" width="750" height="750" class="img-fluid">
        </div>
    </div>
</main>
<app-footer></app-footer>